h1 {
    color: Maroon;
    font-size: 35px;
}
p {
    font-size: 20px
}
.Introduction {
    color: Black;
}
img {
    width: 500px;
    Height: 300px;
}
.
h2 {
    color: royal blue;
    font-style:Italic;
    font-size: 18em;
}